html, body {
    height: 100%;
}

body {
    background-image: url('img/comingsoonmuster_600x605.jpg');
    background-size: 300px;
    background-repeat: repeat;
    margin: 0;
    width: 100%;
    font-family: 'Pompiere', cursive;
}

#content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#logo {
    width: 175px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    background: #ffffff;
    border: 2px solid #00cc66;
    color: #00cc66;
    font-size: 2em;
    padding: 5px 10px;
}

@media only screen and (min-width: 768px) {
    #logo {
        width: 250px;
    }

    h1 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-size: 600px;
    }
}
